.about {
  max-width: 100%;
  width: 100%;
  background-color: var(--light-yellow);

  &__inner {
    width: 36%;
    margin: 0 auto;
    padding: 14rem 0;
  }

  &__title {
    display: flex;
    align-items: first baseline;
    gap: 1rem;

    & svg {
      height: 2rem;
      fill: var(--dark-grey-2);
    }
  }

  &__branding {
    &:not(:last-child) {
      margin-bottom: 3.2rem;
    }

    &--1 {
      text-align: center;
    }
  }

  &__heading-2 {
    font-size: 4.25rem;
    font-weight: 800;
    color: var(--dark-grey-2);
  }

  &__heading-3 {
    font-size: 2.42rem;
    font-weight: 600;
    color: var(--dark-grey-2);
    margin-bottom: 0.65rem;
  }

  &__text {
    font-size: 1.92rem;
    font-weight: 300;
    color: var(--dark-grey-2);
    line-height: 1.52;
  }
}