.blog{
  background-color: var(--light-yellow);

  &__navbar{
    padding-top: 2.25rem;
  }

  &__inner{
    width: 65%;
    margin: 4.25rem auto 0;
  }

  &__heading-3{
    font-size: 3.2rem;
    color: var(--dark-grey-2);
    margin-bottom: 2rem;
  }

  &__post{
    background-color: aqua;
  }
}