.btn {
  padding: 1rem 1.6rem;
  font-weight: 600;
  font-size: 1.45rem;
  color: var(--dark-grey-2);
  border: 2.3px solid var(--dark-grey-2);
  border-radius: 50px;
  background-color: var(--light-yellow);
  font-family: "Inter", "Poppins", sans-serif;
  transition: all 0.2s ease-in;
  cursor: pointer;

  &--contact-us {
    text-decoration: none;
    width: 12rem;

    &--2 {
      display: inline-block;
      margin-top: 3.2rem;
      text-decoration: none;
      font-size: 1.65rem;
    }
    
    &, &--2{
      &:hover {
        color: var(--light-yellow);
        background-color: var(--dark-grey-2);
      }
    }
  }

  &--message{
    color: var(--light-yellow);
    background-color: var(--dark-grey-2);
    border-radius: 3.5px;
    padding: 1.25rem 1.6rem;

    &:hover{
      background-color: var(--dark-grey-1);
      color: var(--light-yellow);
      border-color: var(--dark-grey-1);
    }
  }
}