.footer {
  background-color: var(--light-yellow);
  
  &__inner {
    width: 65%;
    margin: 0 auto;
    max-width: 65%;
    padding: 3.25rem 0 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__right {
    font-size: 1.65rem;
    font-weight: 500;
    display: inherit;
    align-items: center;
    gap: .25rem;
  }
  
  &__image{
    width: 42px;
    height: auto;
  }

  &__hr{
    width: 100%;
    border: 2px solid var(--dark-grey-1);
  }
}