.footer {
  background-color: var(--light-yellow);
  
  &__inner {
    width: 60%;
    margin: 0 auto;
    max-width: 60%;
    padding: 8.25rem 0 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__right {
    font-size: 1.65rem;
    font-weight: 500;
    display: inherit;
    align-items: center;
    gap: 0.35rem;

    & svg {
      fill: var(--dark-grey-2);
    }
  }
}

