.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left {
    min-width: fit-content;
  }

  &__right {
    width: 36%;
  }

  &__list-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list-item {
    list-style: none;
    text-align: center;
  }

  &__list-item:hover > &__list-link {
    border-bottom: 2.5px solid var(--dark-grey-2);
  }

  &__list-link {
    color: var(--dark-grey-2);
    font-weight: 500;
    text-decoration: none;
    padding: 1rem 1.6rem;
    display: inline-block;
    text-align: center;
    transition: all 0.26s ease-in;
    font-family: "Inter", "Poppins", sans-serif;
    border: 0;
    font-size: 1.45rem;
    background-color: transparent;
    cursor: pointer;
    border-bottom: 2.5px solid transparent;
  }
}