{% block contact_form %}
<section class="contact" id="contact-us">
  <div class="contact__inner">
    <div class="contact__left">
    
      <h2>Contact Us</h2>
      <p>Our friendly team would love to hear from you!</p>
      <form action="" class="contact-form">
        <!-- First Name -->
        <div class="contact-form__group input-group">
          <label for="firstname">First Name</label>
          <input type="text" class="" placeholder="First name"> 
        </div>
      </form>
    
    </div>
    <div class="contact__right">&nbsp;</div>
  </div>
</section>
{% endblock contact_form %}