<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180"
      href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
      href="{{ url_for('static', filename='favicon/favicon-32x32.png' ) }}">
    <link rel="icon" type="image/png" sizes="16x16"
      href="{{ url_for('static', filename='favicon/favicon-16x16.png' ) }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon/favicon.ico' ) }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css' )}}">
    <title>Summa Encore &vert; {{ context.get("title") }}</title>
  </head>

  <body>
    <!-- main -->
    <main class="main">
      <div class="main__navbar" style="padding-top: 2.25rem;">
        {% include "navbar.html" %}
      </div>

      <div class="main__inner">
        <h1 class="heading-1">
          <span>Your Trusted Partner</span><br><span>for Digital Success</span>
        </h1>
        <h2 class="heading-2">
          <span>Unlock Your Digital Potential, Ignite Success!</span><br>
          <span>Revolutionize Your Brand with Our Expert Digital Solutions.</span>
        </h2>
        <p class="main__paragraph">Join the Digital Evolution Today!</p>
        <a href="/contact-us" class="btn btn--contact-us--2">Contact Us</a>
      </div>
    </main>
    <!-- end of main -->

    <!-- hero -->
    <section class="hero">&nbsp;</section>
    <!-- end of hero -->

    <section class="about">
      <div class="about__inner">
        <h2 class="about__heading-2">What We Do?</h2>
        <div class="about__branding">
          <h3 class="about__heading-3 heading-3">Adaptive Design &amp; Branding</h3>
          <p class="about__text">
            Effective Collaboration &amp; Communication, Research &amp; Discovery, Branding Strategy, Visual Identity
            Design, UI/UX Wireframing, Prototyping,
            Visual Design, Testing &amp; Iteration, Implementation &amp; Development, Monitoring &amp;
            Maintenance&period;
          </p>

          <h3 class="about__heading-3 heading-3">Custom Software Development</h3>
          <p class="about__text">
            Effective Communication &amp; Collaboration, Requirement Gathering, Analysis &amp; Planning, Design,
            Development, Testing, Deployment, Maintenance &amp; Support&period;
          </p>
        </div>
      </div>
    </section>

  </body>

</html>