.btn {
  padding: 1rem 1.6rem;
  font-weight: 600;
  font-size: 1.4rem;
  color: #061833;
  border: 2.3px solid #061833;
  background-color: #fff;
  font-family: "Inter", "Poppins", sans-serif;
  transition: all 0.2s ease-in;

  &--contact-us {
    text-decoration: none;
    width: 12rem;

    &--2 {
      display: inline-block;
      margin-top: 3.2rem;
      text-decoration: none;
      font-size: 1.65rem;
    }
    
    &, &--2{
      &:hover {
        color: #fff;
        background-color: #061833;
      }
    }
  }

  &--message{
    color: #fff;
    background-color: #061833;
    border-radius: 3.25px;
    padding: 1.25rem 1.6rem;

    &:hover{
      background-color: #061833;
      color: #dce1e7;
    }
  }
}