.footer {
  &__inner {
    width: 60%;
    margin: 0 auto;
    max-width: 60%;
    padding: 8.25rem 0 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__right {
    font-size: 1.32rem;
    color: #061833;
    display: inherit;
    align-items: center;
    gap: 0.35rem;

    & svg {
      fill: #061833;
    }
  }

  &__text {
    font-size: 1.15rem;
    line-height: 10px;
    color: #fff;
    background-color: #061833;
    border-radius: 1.5px;
    font-family: "Roboto Slab", "Russo One", serif, sans-serif;
    padding: 6.5px 5px;
    width: fit-content;

    &-right {
      font-size: 1.25rem;
    }
  }
}

