@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Inter:wght@100;200;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@900&family=Russo+One&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", "Poppins", "Russo One", "Roboto Slab", serif, sans-serif;
}

.nav {
  max-width: 100%;
  width: 100%;

  &__inner {
    max-width: 60%;
    width: 60%;
    margin: 0 auto;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  &__left {
    min-width: fit-content;
  }

  &__right {
    width: 36%;
  }

  &__list-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list-item {
    list-style: none;
    font-size: 1.52rem;
    text-align: center;
  }

  &__list-item:hover > a {
    color: #fff;
    background-color: #061833;
  }

  &__list-link {
    color: #061833;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 16px;
    display: inline-block;
    text-align: center;
    transition: all .32s ease-in;
  }
}

.logo {
  &__link {
    text-decoration: none;
  }

  &__link:hover &__text {
    color: #fff;
    background-color: #061833;
  }

  &__text {
    font-size: 1.25rem;
    line-height: 15px;
    color: #061833;
    border: 2px solid #061833;
    border-radius: 2.5px;

    font-family: "Roboto Slab", "Russo One", serif, sans-serif;
    padding: 6.5px 4px;
    width: fit-content;
  }

  &__text-right {
    font-size: 1.4rem;
  }
}

.btn {
  padding: 10px 16px;
  font-weight: 600;
  font-size: 1.4rem;
  color: #061833;
  border: 2.3px solid #061833;
  background-color: #fff;
  font-family: "Inter", "Poppins", sans-serif;
  transition: all .2s ease-in;

  &--contact-us {
    text-decoration: none;
    width: 120px;

    &--2 {
      display: inline-block;
      margin-top: 32px;
      text-decoration: none;
      font-size: 1.65rem;
    }
  }

  &:hover {
    color: #fff;
    background-color: #061833;
  }
}


.main {
  max-width: 100%;
  min-height: 85vh;
  background-color: rgba(247, 243, 237, 0.836);

  &__inner {
    width: 60%;
    margin: 0 auto;
    margin-top: 15rem;
    text-align: center;
  }

  &__paragraph {
    font-size: 2.45rem;
    font-weight: 600;
  }
}

.heading {
  &-1 {
    font-size: 10.5rem;
    font-family: "Gloock", serif;
    letter-spacing: .25rem;
    line-height: 1;
    margin-bottom: 4.2rem;
  }

  &-2 {
    font-size: 2.65rem;
    color: #4d5969;
    font-weight: 400;
    margin-bottom: 2.25rem;
  }
}

.hero {
  height: 52rem;
  background-image: url("/static/images/computer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 262%;

  &__image {
    width: 100%;
    height: 100%;
  }
}

.about {
  max-width: 100%;
  width: 100%;
  background-color: rgba(247, 243, 237, 0.836);

  &__inner {
    width: 32%;
    margin: 0 auto;
    padding: 12.25rem 0;
  }

  &__title {
    display: flex;
    align-items: first baseline;
    gap: 1rem;

    & svg {
      height: 2rem;
      fill: #061833;
    }
  }

  &__branding {
    &:not(:last-child) {
      margin-bottom: 3.2rem;
    }

    &--1 {
      text-align: center;
    }
  }

  &__heading-2 {
    font-size: 4.25rem;
    font-weight: 800;
    color: #061833;
  }

  &__heading-3 {
    font-size: 2.42rem;
    font-weight: 600;
    color: #061833;
    margin-bottom: .65rem;
  }

  &__text {
    font-size: 1.92rem;
    font-weight: 300;
    color: #3f4853;
    line-height: 1.52;
  }
}

.footer {
  &__inner {
    width: 60%;
    margin: 0 auto;
    max-width: 60%;
    padding: 6.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__right {
    font-size: 1.32rem;
    color: #061833;
    display: inherit;
    align-items: center;
    gap: .35rem;

    & svg {
      fill: #061833;
    }
  }

  &__text {
    font-size: 1.15rem;
    line-height: 10px;
    color: #fff;
    background-color: #061833;
    border-radius: 1.5px;
    font-family: "Roboto Slab", "Russo One", serif, sans-serif;
    padding: 4.5px 5px;
    width: fit-content;

    &-right {
      font-size: 1.25rem;
    }
  }
}

.contact{
  width: 100%;
  max-width: 100%;
  
  &__inner{
    width: 100%;  
    display: flex;
    justify-content: flex-end;
  }

  &__left{
    width: 36%;
    padding: 2.5rem;
    border: 1px solid #061833;
  }

  &__right{
    height: 720px;
    width: 44%;
    background-image: url("/static/images/laptop-and-plant.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 130%;
  }
}