{% extends "base.html" %}

{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png' ) }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png' ) }}">
<link rel="icon" href="{{ url_for('static', filename='favicon/favicon.ico' ) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css' )}}">
<title>Summa Encore &vert; {{ title }}</title>
{% endblock head %}

{% block body %}
<!-- main -->
<main class="main">
  <div class="main__navbar" style="padding-top: 2.25rem;">
    {% include "navbar.html" %}
  </div>

  <div class="main__inner">
    <h1 class="heading-1">
      <span>Your Trusted Partner</span><br><span>for Digital Success</span>
    </h1>
    <h2 class="heading-2">
      <span>Unlock Your Digital Potential, Ignite Success!</span><br>
      <span>Revolutionize Your Brand with Our Expert Digital Solutions.</span>
    </h2>
    <p class="main__paragraph">Join the Digital Evolution Today!</p>
    <button class="btn btn--contact-us--2 js-contact-button" type="button">Contact Us</button>
  </div>
</main>
<!-- end of main -->

<!-- hero -->
<section class="hero">&nbsp;</section>
<!-- end of hero -->
{% include "about.html" %}

<!-- inpage blog posts -->
{% block blogs %}
<section class="posts">
  <div class="posts__inner">
    {% with firstpost=posts[0] %}
      <div class="posts__left">
        <div class="post__1">
          <div class="post__1-image" style="width: 100%; height: 56rem; overflow: hidden; background-color: aqua;">
            <img src="{{ firstpost['images']['url'] }}" alt="" class="" style="width: 200%; object-fit: cover;">
          </div>
          <div class="post__1-text-div">
            <p class="post__date">Zac Sawyer &middot; {{ firstpost['createdAt'] }}</p>
            <h3 class="heading-3">{{ firstpost['title']}}</h3>
            <p class="post__description">{{ firstpost['description'] }}</p>
          </div>    
        </div>
      </div>
      {% endwith%}
      
      <div class="posts__right">
        {% for post in posts[1:] %}
          <div class="posts__div">
            <div class="posts__div-image">
              <img src="{{ post['images']['url'] }}" alt="" class="posts__image">
            </div>
            <div class="posts__div-text">
              {{ post }}
            </div>
          </div>
        {% endfor %}
      </div>
  </div>

</section>
{% endblock blogs %}
<!-- end of inpage blog posts -->

{% include "contact.html" %}
{% include "footer.html" %}
<script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
{% endblock body %}