{% extends "base.html" %}

{% block body %}
<!-- main -->
<main class="main">
  <div class="main__navbar">
    {% include "navbar.html" %}
  </div>
  <div class="main__inner">
    <h1 class="heading-1">
      <span>Your Trusted Partner</span><br><span>for Digital Success</span>
    </h1>
    <h2 class="heading-2">
      <span>Unlock Your Digital Potential, Ignite Success!</span><br>
      <span>Revolutionize Your Brand with Our Expert Digital Solutions.</span>
    </h2>
    <p class="main__paragraph">Join the Digital Evolution Today!</p>
    <button class="btn btn--contact-us--2 js-contact-button" type="button">Contact Us</button>
  </div>
</main>
<!-- end of main -->

<!-- hero -->
<section class="hero">&nbsp;</section>
<!-- end of hero -->

<!-- about section -->
{% include "about.html" %}
<!-- end of about section -->

<!-- inpage blog posts -->
{% block blogs %}
<section class="posts">
  <div class="posts__heading">
    <h2 class="heading-2">Recent Blog Posts</h2>
  </div>
  <div class="posts__inner">
    {% if posts %}
    {% with firstpost=posts[0] %}
    <div class="posts__left">
      <div class="post__1">
        <div class="post__1-image">
          <img src="{{ firstpost['images']['url'] }}" alt="{{ firstpost['slug'] }}">
        </div>
        <div class="post__1-text-div">
          <p class="post__date">Zac Sawyer &#8212; {{ firstpost['createdAt'] }}</p>
          <h3 class="heading-3">{{ firstpost['title']}}</h3>
          <p class="post__description">{{ firstpost['description'] }}</p>
        </div>
      </div>
    </div>
    {% endwith%}

    <div class="posts__right">
      {% for post in posts[1:] %}
      <div class="posts__div">
        <div class="posts__div-image">
          <img src="{{ post['images']['url'] }}" alt="{{ post['slug'] }}" class="posts__image">
        </div>
        <div class="posts__div-text">
          <p class="post__date">Zac Sawyer &#8212; {{ post['createdAt'] }}</p>
          <h3 class="heading-3">{{ post['title'] }}</h3>
          <p class="post__description">{{ post['description'] }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</section>
{% endblock blogs %}
<!-- end of inpage blog posts -->

{% include "contact.html" %}
{% include "footer.html" %}
{% endblock body %}