{% block navbar %}
<!-- navbar -->
<section class="nav">
  <div class="nav__inner">
    <nav class="navbar">
      <div class="navbar__left">
        <a href="{{ url_for('main.index')}}" class="logo__link">
          <h1 class="logo__text">
            <span class="logo__text-left">Summa</span><br>
            <span class="logo__text-right">Encore</span>
          </h1>
        </a>
      </div>

      <div class="navbar__right">
        <ul class="navbar__list-container">
          <li class="navbar__list-item">
            <button type="button" class="navbar__list-link js-about-button">About</button>
          </li>
          <li class="navbar__list-item"><a href="{{ url_for('main.blog') }}" class="navbar__list-link">Blog</a></li>
          <li class="navbar__list-item"><a href="{{ url_for('main.careers') }}" class="navbar__list-link">Careers</a>
          </li>
          <li class="navbar__list-item"><span class="btn btn--contact-us js-contact-button">Contact Us</span></li>
        </ul>
      </div>
    </nav>
  </div>
</section>
<!-- end of navbar -->
{% endblock navbar %}